* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif; 
	font-size: 16px;
}
.container {
	background: url("../img/bg.png");
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	

	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 340px;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fafafa;
}

.header {
	height: 60px;
	background-color: #00aaf5;
	color: #ffffff;
	font-size: 1.5em;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}

.key {
	position: relative;
	top: 5px;
}

.main {
	padding: 30px;
}

.email {
	background: url("../img/email-icon.png") no-repeat right ;
	background-position: 95%;
}

.password { 
	background: url("../img/lock-icon.png") no-repeat right;
	background-position: 95%;
 }

input {
    -webkit-appearance: none;
    outline: none;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    height: 45px;
	width: 100%;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 5px;
}

input:focus { 
    border:  2px solid #636363;
}

.sign-in {
	width: 100%;
	height: 45px;
	border-radius: 4px;
	background-color: #f44336;
	border: none;
	color: #ffffff;
	font-weight: bold; 
	cursor: pointer;
}

.sign-in:hover {
	background-color: #a40a14;	
}

.footer {
	height: 55px;
	background-color: #efefef;
	line-height: 55px;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #757575;
	font-size: 0.9em;
}

.footer a:hover {
	border-bottom: 2px solid #636363;
}

.footer a:first-child {
	margin-right: 20px;
}

.footer strong {
	color: #212121;
	font-size: 1em;
}
	